*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: left;
    color: white;
    text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}


body{
    background-color: rgb(109, 109, 109);
}

.central{
    background-color: rgb(62, 62, 62);
    border-radius: 12px 12px 12px 12px;
    margin: 20px;
    height: 530px;
}

h1{
    text-align: center;
    padding-top: 30px;
}

.flecha{
    position: relative;
    left: 20px;
    bottom: 60px;
}

.trabajos{
    margin-top: 20px;
}
.trabajo1{
    margin-left: 30px;
}
.trabajo2{
    position: relative;
    left: 435px;
    bottom: 340px;
}
.trabajo3{
    position: relative;
    left: 840px;
    bottom: 680px;
}

h2{
    margin-top: 10px;
}

footer{
    background-color: rgb(62, 62, 62);
    padding-top: 60px;
    padding-left: 60px;
    position: relative;
    height: 200px;
    border-top: 3px solid rgb(159, 159, 159);
    color: white;
}

h5{
    font-size: 20px;
}
h4{
    font-size: 20px;
    position: relative;
    left: 800px;
    bottom: 100px;
}

.contactame{
    position: relative;
    left: 400px;
    bottom: 55px;
}

.face{
    margin-top: 10px;
}
.wasa{
    margin-left: 10px;
}
.insta{
    margin-left: 10px;
}